.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b3452;
  }
  
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }

  * {
    color: black;
    margin: 0;
  }

  .lable {
    color: black;
  }
  
  .input,
  .select {
    color: black;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  
  /* .select {
    color: black;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  } */
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #bc4123;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  