/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc2337; /* Custom primary color */
  --secondary: #ffffff; /* Custom background color */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;/* Ensure Poppins font is applied */
  background-color: var(--secondary); /* Use custom background color */
  width: 100%;
}

* {
  color: #111010; /* Custom text color */
  margin: 0;
  box-sizing: border-box; /* Ensure padding and borders are included in element's total width and height */
}

p {
  margin: 20px 0;
}

button {
  border: none; /* Use Bootstrap's button styles */
  padding: 8px;
  border-radius: 4px;
  color: white;
  background-color: var(--primary); /* Custom button background color */
  cursor: pointer;
}

/* Optional: Add any custom Bootstrap overrides here if needed */